[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */urls.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
fail_under = 85
show_missing = True
